body {
    background-color: rgba(52, 171, 201, 0.63);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px rgba(61, 61, 230, 0.356);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

.res{
    border-radius: 10px;
    background-color: rgb(108, 231, 231);
    position: relative;
    left: 300px;
    width: 185px;
    text-align: center;
    font-style:oblique
}

.peso {
    border-radius: 10px;
    box-shadow: 5px 5px rgba(45, 187, 209, 0.548);
    background-color: lightblue;
    padding: 15px;
    border: 1px solid #000;
    margin: 15px;
}

.botao {
    position: relative;
    top: 50%;
    left: 45%;
    height: 35px;
    margin: 0;
    border-radius: 20px;
    background-color: rgba(173, 216, 230, 0.842);
    box-shadow: 3px 3px rgba(16, 108, 122, 0.548);


}